<!DOCTYPE html>

<!-- head -->
<% include partials/header %>
<div id="test" class="blue lighten-1">
</div>
<!-- <ul class="row wrapper" id="forecast">


</ul><!-- end wrapper --> -->



<!-- footer -->
<% include partials/footer %>
